footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
  
  footer a {
    margin: 0 10px;
  }
  
  footer img {
    width: 30px; /* Adjust size as needed */
    filter: grayscale(100%); /* Makes the icon grey */
    }
  