.resume-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.company-logo {
  width: 100px; /* Adjust as necessary */
  height: auto;
  margin-right: 20px;
}

.experience-section,
.education-section,
.skills-section {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.experience-section div,
.education-section,
.skills-section {
  flex-grow: 1;
}

.period {
  font-style: italic;
}

.pdf-download-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pdf-download-link a {
  font-size: 18px; /* Adjust size as needed */
  background-color: #007bff; /* Choose a color that fits your theme */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pdf-download-link a:hover {
  background-color: #0056b3; /* Slightly darker shade for hover effect */
}
